.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editor {
  border: 2px solid black;
  height: 200px;
  width: 500px;
  box-shadow: 4px 5px 14px 2px rgba(192, 192, 192, 0.808);
}

textarea {
  outline: none;
  height: 172px;
  width: 494px;
  resize: none;
  background: #E6D8D3;
}

.previewer {
  margin-top: 20px;
  border: 2px solid black;
  width: 1000px;
  height: auto;
}

.output {
  background: #E6D8D3;
  border-top: 2px solid black;;
}